
@{
    ViewData["Title"] = "Index";
}

<h1>This is Your Cart</h1>
<a asp-action="index" asp-controller="shop" class="btn btn-secondary">Go Shop some more</a>
<a asp-action="index" asp-controller="checkout" class="btn btn-primary">Proceed to Checkout</a>