
@{
    ViewData["Title"] = "Index";
}

<h1>This is Your Cart</h1>
<a asp-action="index" asp-controller="shop">Go Shop some more</a>
<a asp-action="index" asp-controller="checkout">Proceed to Checkout</a>