
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="shop" asp-action="details" asp-route-id="1" asp-route-otherdata="tacos">View Product 1</a>
<a asp-controller="shop" asp-action="details" asp-route-id="2">View Product 2</a>
<a asp-controller="shop" asp-action="details" asp-route-id="3">View Product 2</a>